@page "/cart/addtocart/{id:int}"
@inject ICartService db
@inject NavigationManager nav
<div class="summary">
    <EditForm Model="q" OnValidSubmit="Add">
    <div class="form-group">
        <lable>Please Provide the quantity</lable>
        <InputNumber @bind-Value="q.Qty" class="form-control"></InputNumber>
    </div>

        <div class="form-group py-2">
        <button class="btn btn-success" type="submit">Add to Cart</button>
        </div>

    </EditForm>

    </div>
@code {
    [Parameter]
    public int id { get; set; }
    QuantityDTO q = new QuantityDTO();
    string data = Authorize.getusertype();
    private async void Add()
    {
        if(data.Equals(data))
        {
            Cart cart = new Cart();
            cart.ItemId = id;
            cart.Qty = q.Qty;
            cart.UserId = Authorize.getempid();
            var d = await db.AddToCart(cart);
            nav.NavigateTo("cart/mycart");
        }
        else
        {
            nav.NavigateTo("login/register");
        }


    }

}
