@page "/login/loginuser"
@inject ILoginService db
@inject NavigationManager nav
<h3>Login User</h3>
<div class="summary">
    <h2>User Login!</h2>
        <EditForm Model="cat" OnValidSubmit="Create">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <lable>Email</lable>
                <InputText @bind-Value="cat.Email" class="form-control"></InputText>
            </div>

            <div class="form-group">
                <lable>Password</lable>
                <InputText typeof="password" @bind-Value="cat.Password" class="form-control"></InputText>
            </div>
            <div class="form-group py-2">
                <button class="btn btn-success" type="submit">Login</button>
            <NavLink href="login/register" class="btn btn-secondary">Register</NavLink>
            </div>
        </EditForm>
        </div>

@code {
    private LoginDTO cat = new LoginDTO();
    private async Task Create()
    {
        var d = await db.LoginUser(cat);
        if(!d.Equals("Not"))
        {
            var t = Convert.ToInt32(d);
            Authorize.setempid(t);
            nav.NavigateTo("category/categoryList");
        }
        else
        {
            nav.NavigateTo("login/register");
        }
    }

}
