@page "/login/register"
@inject ILoginService db
@inject NavigationManager nav
<div class="summary">
    <h2>Register New User</h2>
    <EditForm Model="cat" OnValidSubmit="Create">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <lable>Name</lable>
            <InputText @bind-Value="cat.Name" class="form-control" placeholder="Enter Your Name"></InputText>
        </div>

        <div class="form-group">
            <lable>Email</lable>
            <InputText @bind-Value="cat.Email" class="form-control" placeholder="example@gmail.com"></InputText>
        </div>

        <div class="form-group">
            <lable>Phone Number</lable>
            <InputText @bind-Value="cat.PhoneNumber" class="form-control" placeholder="1234567890"></InputText>
        </div>

        <div class="form-group">
            <lable>Password</lable>
            <input @bind="cat.Password" class="form-control" ></input>
        </div>
        <div class="form-group py-2">
            <button class="btn btn-success" type="submit">Login</button>
            <NavLink href="login/register" class="btn btn-secondary">Register</NavLink>
        </div>
    </EditForm>
</div>
@code {
    User cat = new User();
    private async Task Create()
    {
        var d = await db.Register(cat);
        if(d==true)
        {
            nav.NavigateTo("login/loginuser");
        }

    }

}
