@page "/category/add"
@inject ICategoryService db
@inject NavigationManager nav
<div class="summary">
    <h2>Add a New Item</h2>
    @if(cat.ImageUrl != null)
    {
        <img src="@cat.ImageUrl" />
    }
    <EditForm Model="cat" OnValidSubmit="Create">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <lable>Product Name</lable>
            <InputText @bind-Value="cat.Name" class="form-control"></InputText>
        </div>

        <div class="form-group">
            <lable>Image Url</lable>
            <input type="text" @bind="ImageUrl" class="form-control"></input>
        </div>
        <div class="form-group py-2">
            <button class="btn btn-success">Create</button>
            <NavLink href="category/categoryList" class="btn btn-secondary">Back</NavLink>
        </div>
    </EditForm>
</div>


@code {
    public Category cat { get; set; } = new Category();
    public string? ImageUrl { get; set; }
    string data = Authorize.getusertype();
    private async void Create()
    {
        if (data.Equals("Admin"))
        {
            var d = await db.AddCategory(cat);
            nav.NavigateTo("category/categoryList");
        }
        else
        {
            nav.NavigateTo("login/register");
        }

    }
    private void loadimg()
    {
        cat.ImageUrl = ImageUrl;
    }

}