@page "/category/categoryList"
@inject ICategoryService db
@inject NavigationManager nav
<div class="row mt-4">
    <div class="cl-6">
        <h4 class="card-title text-black-info">Category List</h4>
    </div>
    @if(da.Equals("Admin"))
    {
        <div class="col-4 offset-2">
            <a href="category/create" class="btn btn-info form-control">Add New Category</a>
        </div>
    }

    <br />
    <br />
      <div class="container">
        <div class="card">
    @foreach(var i in cat)
    {
       
            <div class="content">
                    <h4> @i.Name </h4>
                    <br />                    
                <img class="imgg" src="@i.ImageUrl" />
                <br />
                <br />
                @if(da.Equals("User"))
                {
                        <NavLink class="buttongreen" href="@($"item/categorybasedmenu/{i.Id}")">See Menu</NavLink>
                }
                @if(da.Equals("Admin"))
                {
                        <button class="buttongbrown">See Menu</button>
                }
                
                <p>------------------------------------------------------</p>
            </div>
      
    }
        </div>
    </div>
   </div>
@code {
    private List<Category> cat= new List<Category>();
    string da = Authorize.getusertype();
    protected async override Task OnInitializedAsync()
    {
        if(!da.Equals("Not"))
        {
            cat = await db.GetAllCategories();
        }
        else
        {
            nav.NavigateTo("login/register");
        }

    }


}
