@page "/category/create"
@inject ICategoryService db
@inject NavigationManager nav

@if (cat.ImageUrl != null)
{
    <img src="@cat.ImageUrl" class="imgg" />
}
    
    <div class="summary">

    <h2 class="card-title text-primary mb-3 ml-3">Create Categories</h2>
            <div class="form-group">
                <lable>Product Name</lable>
                <input @bind="cat.Name" class="form-control"></input>
            </div>

            <div class="form-group">
                <lable>Image Url</lable>
                <input @bind="cat.ImageUrl" class="form-control"></input>
            </div>
            <div class="form-group py-2">
                <button class="btn btn-success" @onclick="Create">Create</button>
                <NavLink href="category/categoryList" class="btn btn-secondary">Back</NavLink>
            </div>
       
    </div>



@code {
    public Category cat { get; set; } = new Category();
    string data = Authorize.getusertype();
    private async void Create()
    {
        if(data.Equals("Admin"))
        {
            var d = await db.AddCategory(cat);
            nav.NavigateTo("category/categoryList");
        }
        else
        {
            nav.NavigateTo("login/register");
        }

    }

}
